* {
    color: #032436;
    font-family: Pridi;
}
body {
    margin: 0;
    background-color: #FFE1AA;
    background-image: url("../pictures/header.jpg");
    background-size: cover; 
    border: 5px solid transparent;
    border-image: url("../pictures/statsdecoration.png") 60 stretch;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.header a {
    text-decoration: none;
}
.header a:hover {
    color: #28546C;
}
.header h1 {
    border: 5px solid transparent;
    padding: 5px;
    border-image: url("../pictures/statsdecoration.png") 30 stretch;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header'
        'stats hero-general hero-general hero-general'
        'menu footer footer footer';
    gap: 10px;
}

.hero-general {
    order: 2;
}

.stats {
    order: 1;
}
.stats ul {
    list-style-type: none;
}
.stats li {
    width: 7vw;
    border: 5px solid transparent;
    padding: 5px;
    border-image: url("../pictures/statsdecoration.png") 30 stretch;
}
.stats label {
    font-size: 20px;
}
.stats h5 {
    font-size: 30px;
    margin: 0;
}
.stats input {
    width: 4vw;

}